th{
	background-color: teal;
	color: white;
}
tfoot{
	background-color: gold;
}
table{
	border-collapse: collapse;
	width:100%
}
.red{
	color: red;
}
h1{
	color: crimson;
	text-align: center;
}